flask
gunicorn
line-bot-sdk
firebase-admin
Pillow

python3 -m venv venv
source venv/bin/activate

# ถ้ามี requirements.txt
pip install -r requirements.txt

# หากไม่มีไฟล์ requirements.txt ให้ติดตั้งด้วยตนเอง:
pip install flask line-bot-sdk firebase-admin python-dotenv Pillow
